---
const {id} = Astro.props
import user from "../../public/user.svg"
import SectionContainer from "./sectionContainer.astro"
import SectionTittle from "./sectionTittle.astro"
---
<SectionContainer id={id} bg={false}>
    <SectionTittle img={user.src} tittle="About"/>
    <p class="text-lg text-gray-700 leading-relaxed">
        Hello, my name is <span class="text-blue-600 font-medium">Ángel Gabriel Núñez Beltré</span>, and I began my journey into programming at the age of 14 while in high school. I enrolled in a technical baccalaureate program focused on software development, where I was first introduced to <span class="text-blue-600 font-medium">HTML</span> and <span class="text-blue-600 font-medium">CSS</span>. Currently, I am pursuing my studies at the Instituto Tecnológico de las Américas.
    </p>

    <p class="text-lg text-gray-700 leading-relaxed mt-4">
        Most of my projects have been web-based, aimed at solving specific needs, such as my project <span class="text-blue-600 font-medium">Enigmatic</span> for matrix encryption, among others. 
    </p>

    <p class="text-lg text-gray-700 leading-relaxed mt-4">
        As a student, I am ambitious and eager to continue learning more, with the goal of solving more problems through software.
    </p>
</SectionContainer>
