---
const {icon, text,color} = Astro.props 
---

<span class=`${color} flex gap-1 text-white text-xs font-medium me-2 px-2.5 py-0.5 rounded-full m-1`>
    <img class="size-4 rounded-sm" src={icon} alt="icono" loading="lazy">
    {text}
</span>