---
const {id} = Astro.props;
import briefcase from "../../public/briefcase.svg"
import ExperienceBox from "./experienceBox.astro";
---
<div id={id} class="flex flex-col gap-6 justify-start mt-16 w-11/12 md:w-7/12 lg:w-5/12 rounded-lg  py-6 px-8">
    <h2 class="flex gap-3 text-3xl font-bold text-gray-800 mb-9"><img src={briefcase.src} alt="briefcase" class="size-8" loading="lazy"> <span> Experience </span></h2>

    <ol class="relative border-s border-gray-200 dark:border-gray-700">                  
        <ExperienceBox date="2022-Actual" tittle="IT Technician, Papelería Melva">
            <span class="text-blue-600 font-medium">In charge of maintaining</span> printers, computers, and other devices. Responsible for <span class="text-blue-600 font-medium">training new employees</span> on the use of these technologies. 
        </ExperienceBox>
        <ExperienceBox date="2022-2023" tittle="Intern Software Developer, CAASD">
            Assisted in the <span class="text-blue-600 font-medium">development of applications and websites</span>. Participated in team meetings to understand workflows and <span class="text-blue-600 font-medium">learn key skills</span> such as <span class="text-blue-600">team collaboration</span>, GitHub management, <span class="text-blue-600">JavaScript</span>, and <span class="text-blue-600">CSS3</span>.
        </ExperienceBox>
    </ol>
</div>

