---
import GithubIcon from "../../public/Github.svg"
import LinkedIn from "../../public/LinkedIn.svg"
import Gmail from "../../public/Gmail.svg"
---

<footer class="flex py-5 px-3 mt-7 bg-gray-50">
    <div class="flex justify-center w-1/2">
        <h6 class="text-xs">thanks for see my portfolio, this portfolio is inspired by <a class="text-gray-800 hover:text-blue-600 focus:text-blue-800" href="#" target="_blank">@midudev portfolio</a></h6>
    </div>
    <div class="flex gap-4 w-1/2 justify-center px-14">
        <a href="#https://github.com/AngelGab006" target="_blank"><img class="w-6" src={GithubIcon.src} alt="GithubIcon"></a>
        <a href="#https://www.linkedin.com/in/angel-gabriel-nu%C3%B1ez-beltre-b00b3425b/" target="_blank"><img class="w-6" src={LinkedIn.src} alt="LinkedIn"></a>
        <a href="#mailto:angelbeltrea.20@gmail.com?Subject=Hi, Ãngel" target="_blank"><img class="w-6" src={Gmail.src} alt="Gmail"></a>
    </div>
</footer>