<header class="min-w-fit">
    <nav class="flex gap-5 rounded-full border-solid py-1 px-3 shadow-2xl mt-4 bg-white">
        <a href="#">home</a>
        <a href="#experience">experience</a>
        <a href="#projects">projects</a>
        <a href="#about">about</a>
        <a href="#contact">contact</a>
    </nav>
</header>
<style>
    nav{
        border-width: 1.5px;
    }
    a{
        transition: all 0.3s;
    }
    a:hover{
        transform: translateY(-1.5px);
        color: rgb(30 64 175);
    }
</style>