---
import '@fontsource-variable/onest';
const { title } = Astro.props;
import Header from "../components/header.astro"
import Top from '../components/Top.astro';
import Experience from '../components/experience.astro';
import Projects from '../components/projects.astro';
import About from '../components/about.astro';
import Footer from '../components/footer.astro'
import logo from '../../public/Logo.png'
---

<!doctype html>
<html lang="en" class="">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href={logo.src} />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="flex flex-col bg-black2">
		<div class="absolute -z-10 h-full w-full bg-white bg-black2"><div class="absolute bottom-0 left-0 right-0 top-0 dark:bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[linear-gradient(to_right,#4f4f4f2e_1px,transparent_1px),linear-gradient(to_bottom,#4f4f4f2e_1px,transparent_1px)] bg-[size:14px_24px] dark:[mask-image:none] [mask-image:radial-gradient(ellipse_80%_50%_at_50%_0%,#24292f_70%,transparent_110%)]"></div></div>
			<Header></Header>
			<Top id="top"></Top>
			<Experience id="experience"></Experience>
			<Projects id="projects"></Projects>
			<About id="about"></About>
			<slot />
		<Footer></Footer>
	</body>
</html>
<style is:global>
	:root{
		color-scheme: light dark;
		scroll-behavior: smooth;
		transition: all .3s;
	}
	.bg-black2:is(.dark *){
		background-color: #24292f;
	}
	body{
		align-items: center;
  		font-family: 'Onest Variable', sans-serif;
	}
	@media(prefers-reduced-motion: reduce){
		html{
			scroll-behavior: auto;
		}
	}
</style>
